body {
  height: 100;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 40% auto);
  grid-gap: 5px;
}

.box {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-items: center;
  color: white;
  /* background-color: purple; */
}

a:link {
  color: black;
}

a:visited {
  color: silver;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.welcome {
}
.aboutme {
}

.runs {
}

.flags {
}

.links {
  text-align: left;
}