body {
    font-family: "Open Sans", sans-serif;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  }
  
  a:link {
    color: yellow;
  }
  
  a:visited {
    color: silver;
  }
  
  .everything,
  footer {
    margin: auto;
    height: 1100px;
    width: 1300px;
  }
  
  .row1,
  .row2,
  .row3 {
    height: 200px;
  }
  
  .col {
    float: left;
    width: 650px;
  }
  
  .runs {
    width: 600px;
    float: left;
  }
  
  .flags {
    float: left;
  }
  